<div id="wrapper">
  <%= render "shared/header" %>
  <div id="container">
    <div class="jumbotron">
      <h1 class="jumbotron-title">Hello, Bergen!</h1>
      <p class="jumbotron-msg">
        Bergenは誰でも簡単にメッセージを投稿できるアプリです。
      </p>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
