<div id="wrapper">
  <header>
    <span class="logo-mark"><%= link_to "bergen", root_path %></span>
    <ul class="header-menus">
      <li><%= link_to "メッセージ一覧", messages_path %></li>
    </ul>
  </header>

  <div id="container">
    <div class="jumbotron">
      <h1 class="jumbotron-title">Hello, Bergen!</h1>
      <p class="jumbotron-msg">
        Bergenは誰でも簡単にメッセージを投稿できるアプリです。
      </p>
    </div>
  </div>

  <footer>
    <p>Powered by BERGEN &copy; 2019 Your Name</p>
  </footer>
</div>
