<div id="wrapper">
  <header>
    <span class="logo-mark">Bergen</span>
    <ul class="header-menus">
      <li><a href="/messages">メッセージ一覧</a></li>
    </ul>
  </header>

  <div id="container">
    <div class="posts-index-item">おはようございます！</div>
    <div class="posts-index-item">こんにちは！</div>
    <div class="posts-index-item">こんばんは！</div>
    <div class="posts-index-item">おやすみなさい！</div>
  </div>

  <footer>
    <p>Powered by BERGEN &copy; 2019 Your Name</p>
  </footer>
</div>
