<% @messages.each do |message| %>
  <div class="posts-index-item">
    <%= image_tag("speak.svg", size: 32) %>
    <%= "@#{message.user.name}" %>
    <br />
    <%= message.content %>
    <% if message.user == current_user %>
      <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
    <% end %>
  </div>
<% end %>
