<div id="wrapper">
  <%= render "shared/header" %>
  <div id="container">
    <div class="posts-index-item">おはようございます！</div>
    <div class="posts-index-item">こんにちは！</div>
    <div class="posts-index-item">こんばんは！</div>
    <div class="posts-index-item">おやすみなさい！</div>
  </div>
  <%= render "shared/footer" %>
</div>
