/* トップページジャンボトロン */
div.jumbotron {
  margin: auto 0;
  padding-top: 70px;
  text-align: center;
}
h1.jumbotron-title {
  font-size: 4em;
  line-height: 1.5em;
}
p.jumbotron-msg {
  line-height: 4em;
}
